p Die Veranstaltung "#{event.title}" wurde beendet.
  br
p Die Astimmunsgergebnisse sind nun einsehbar. 
  br
p Mit freundlichen Grüßen
  br
  | digitalwahl.org
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz